body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #84fab0 0%, #8fd3f4 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
}

.logo img {
    width: 100px;
    margin-bottom: -1px;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"], input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #3bbbad;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #26a69a;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.options label {
    display: flex;
    align-items: center;
}

.options a {
    color: #26a69a;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

.register {
    margin-top: 20px;
}

.register a, .login a {
    color: #26a69a;
    text-decoration: none;
}

.register p, .login p {
    margin-bottom: 0;
}

.register a:hover, .login a:hover {
    text-decoration: underline;
}

.login {
    margin-top: 20px;
    text-align: center;
}

.error-message {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    padding: 10px;
    border-radius: 5px;
}

.success-message {
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #d0e9c6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.description p {
    margin-bottom: 15px;
}

.description {
    margin-bottom: 20px;
}

.content {
    margin-bottom: 20px;
    text-align: left;
}

.content ul {
    padding-left: 20px;
}

.content li {
    margin-bottom: 10px;
}

.options {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 20px 10px;
    }

    h2 {
        font-size: 1.25rem;
    }

    input[type="text"], input[type="password"], button {
        font-size: 0.9rem;
    }

    .options, .register, .login {
        font-size: 0.8rem;
    }

    .description p {
        font-size: 0.9rem;
    }
}