<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lisensiku - Daftar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='lisensiku.ico') }}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo Lisensiku">
        </div>
        <h2>Mendaftar Layanan</h2>
        {% if status == 'Error' %}
            <p class="error-message">{{ message }}</p>
        {% elif status == 'Success' %}
            <p class="success-message">{{ message }}</p>
        {% endif %}

        <form action="/register" method="POST">
            <input type="text" name="nama" placeholder="Nama Lengkap" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" minlength="6" required>
            <button type="submit">Sign up</button>
            <div class="login">
                <p>Sudah memiliki akun? <a href="{{ url_for('login') }}">Masuk</a></p>
            </div>
        </form>
    </div>

</body>
</html>